body{

font-family: Arial;
margin:0;
background:#0f172a;
color:white;

}

header{

text-align:center;
padding:40px;

}

.generator{

text-align:center;
margin:40px;

}

input{

padding:12px;
width:300px;
border:none;
border-radius:6px;

}

button{

padding:12px 20px;
border:none;
border-radius:6px;
background:#6366f1;
color:white;
cursor:pointer;

}

.templates{

text-align:center;

}

.template-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
padding:40px;

}

.card{

background:#1e293b;
padding:30px;
border-radius:10px;
cursor:pointer;
transition:0.3s;

}

.card:hover{

transform:scale(1.05);
background:#334155;

}

iframe{

width:90%;
height:400px;
margin:40px;
border:none;
background:white;

}
